h1 {
    font-family: 'Lobster', cursive;
    font-size:60px;
    text-align:center;
}
h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    padding: 0px 0px w0px 0px;
    text-align: center;
}
.painterpoetsHeading {
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    padding: 35px 0px 35px 0px;
    text-align: center;
}
p {
    text-align: center;
    padding-top: 2em;
    width:85%;
    margin:auto;
    font-family: 'Slabo 27px', serif;
    line-height: 1.5em;
    font-size: 18px;
}
a {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    padding: 50px 0px 50px 0px;
    text-align: center;   
}
.centerAlignButtons {
    text-align: center;
}
.centerAlignButtons button {
    color: black;
}
.column {
    float:
        width:33.33%;
    padding: 5px;
}
.jamesColumn {
    float:
        width:20%;
    padding 5px;
}
.captionPoetsPainters{
    color:snow;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
#abPictures {
    background-color: blanchedalmond;
    width:33%;
}
.americanPaintersPoets {
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
    width: 325px;
}
body {
    /*background-color: #232323;*/
    background-color: #af9f7b;
    color:floralwhite;
}
b {
    font-weight:bolder;
}
i {
    font-size: 16px;
}
#abDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: midnightblue;
    padding: 8px;
}
#whDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: forestgreen;
    padding: 8px;
}
#mcDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: darksalmon;
    padding: 8px;
}
#jamesDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: firebrick;
    padding: 8px;
}
#robertFrostDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: skyblue;
    padding: 8px;
}
#emilyDickinsonDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: #522a64;
    padding: 8px;
}
#waltWhitmanDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: darkolivegreen;
    padding: 8px;
}