h1 {
    font-family: 'Lobster', cursive;
    font-size:60px;
    text-align:center;
}
/*#topFold {
width:100%;
height:150px;
background-image:url("../images/ricardo-gomez-angel-627601-unsplash.jpg");
background-size: cover;
text-align: center;
}*/
p {
    text-align: center;
    padding-top: 2em;
    width:85%;
    margin:auto;
    font-family: 'Slabo 27px', serif;
    line-height: 1.5em;
    font-size: 18px;
}
.column {
    float:
        width:33.33%;
    padding: 5px;
}
#abPictures {
    background-color: blanchedalmond;
    width:33%;
}
body {
    /*background-color: #232323;*/
    background-color: #af9f7b;
    color:floralwhite;
}
b {
    font-weight:bolder;
}
#abDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: midnightblue;
    padding: 8px;
}
#whDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: forestgreen;
    padding: 8px;
}
#mcDropCap {
    font-size: 64px;
    line-height: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    background-color: darksalmon;
    padding: 8px;
}