/*This is a test comment
* 
*/
h1 {
    text-align:center;
    font-size:36pt;
    color: cornflowerblue;
}

body {
    /*Love it, Like it, If I must*/
    font-family: Tre Verdana, Helvetica, sans-serif;
    font-size: 14px;
}

.wiki {
    margin: auto;
    width: 75%;
    background-color: silver;
    padding: 8px;
    border: 4px solid black;
    border-radius: 0px 20px 0px 20px; /*Top, Right, Bottom, Left*/
}